# Lab 2: Data Loading, Cleaning, and Exploration

In this lab, we will cover the following topics:
1. Data loading and cleaning
2. Handling missing data
3. Feature engineering examples
4. Visualizations/data exploration

Each section includes basic implementation and questions for further exploration.

## 1. Data Loading and Cleaning

We will start by loading and cleaning a dataset. We will also explore different techniques for data cleaning.

In [1]:
import functionals as f
import pandas as pd
import numpy as np

# Load the dataset
path_to_file = 'messy_data.csv'
data = pd.read_csv(path_to_file)

# Display dataset information
# data.head()
# data.info(
# data.describe()

# Run the simple model
# f.simple_model(data)

## Data Cleaning

We will clean the dataset by removing duplicates, fixing inconsistent entries and removing outliers.

In [16]:
# Remove duplicates
cleaned_data = data.copy()
cleaned_data = cleaned_data.drop_duplicates()

# Fix inconsistent entries
cleaned_data['sex'] = cleaned_data['sex'].apply(lambda x: 'female' if 'F' in x or 'f' in x else 'male')

# Check for outliers - if they exist, remove them
# <insert code here>
cleaned_data = cleaned_data.dropna()
# Dataset with no duplicates, fixed format, missing values and outlier removed (if they exist)
cleaned_data.to_csv('data_no_duplicates.csv', index=False)

### Questions for Exploration

1. How does the following affect model performance?
    * removing duplicates
    * fixing inconsistencies  
2. What other inconsistencies can you find and fix in the dataset?
3. How does the choice of dataset affect the data cleaning process?

## 2. Handling Missing Data

We will handle missing data by using different techniques such as imputation and deletion. We will also explore the impact of these techniques on the dataset.

In [19]:
# Identify missing values
missing_data = data.isnull().sum()
print(missing_data)

# Impute missing values
data_copy = data.copy()
numerical_col_name = data_copy.select_dtypes(include=['number']).columns
categorical_col_name = categorical_col_name = data_copy.select_dtypes(include=['object']).columns

# Fill missing values for numerical columns with mean and categorical with mode
for col in numerical_col_name:
    data_copy[col].fillna(data_copy[col].mean(), inplace=True)
for col in categorical_col_name:
    mode_val = data_copy[col].mode()
    if not mode_val.empty:
        data_copy[col] = data_copy[col].fillna(mode_val[0])
    else:
        data_copy[col] = data_copy[col].fillna('Unknown')
# Fill specific columns with appropriate values

# data_copy['age'].fillna(data_copy['age'].mean(), inplace=True)
# data_copy['embarked'].fillna(data_copy['embarked'].mode()[0], inplace=True)





        
# Drop rows with missing values
# data_copy = data_copy.dropna()

# Save the cleaned dataset
data_copy.to_csv('cleaned_data_lab2_UPDATE.csv', index=False)

# Display the dataset after handling missing data
data.head()

survived       0
deck           0
embarked       0
pclass         0
embark_town    0
sex            0
adult_male     0
who            0
wspd           0
lfwa           0
class          0
tprc           0
sibsp          0
age            0
alone          0
fare           0
parch          0
dtype: int64

/var/folders/p3/rf4qqwbj5td08r07369s000r0000gn/T/ipykernel_14990/1435627975.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_copy[col].fillna(data_copy[col].mean(), inplace=True)

,survived,deck,embarked,pclass,embark_town,sex,adult_male,who,wspd,lfwa,class,tprc,sibsp,age,alone,fare,parch
1,1,C,C,1.0,Cherbourg,female,False,woman,38.0,76.0,First,215.8499,1.0,38.0,False,71.2833,0.0
6,0,E,S,1.0,Southampton,male,True,man,54.0,108.0,First,157.5875,0.0,54.0,True,51.8625,0.0
10,1,G,S,3.0,Southampton,female,False,child,4.0,8.0,Third,52.1000,1.0,4.0,False,16.7000,1.0
21,1,D,S,2.0,Southampton,male,True,man,34.0,68.0,Second,41.0000,0.0,34.0,True,13.0000,0.0
23,1,A,S,1.0,Southampton,male,True,man,28.0,56.0,First,108.5000,0.0,28.0,True,35.5000,0.0

### Questions for Exploration

1. How does the following affect model performance:
    * imputation 
    * dropping rows with missing values
2. What happens to the model performance if you use different imputation techniques (e.g., median, mode)?
3. How does the choice of dataset affect the handling of missing data?

## 3. Feature Engineering Examples

Next, we will create new features from the existing ones. We will also explore different techniques for feature engineering.

In [ ]:
# Create new features
data_new_features = data.copy()
data_new_features['family_size'] = data_new_features['sibsp'] + data_new_features['parch'] + 1
data_new_features['is_alone'] = (data_new_features['family_size'] == 1).astype(int)

# Any other features you can think of?

# Scale the numerical features
# <insert code here>

### Questions for Exploration

1. How do the new features affect model performance?
2. What other features can you create from the existing ones?
3. How does feature scaling (e.g., standardization, normalization) affect model performance? (Keep in mind that the data should be scaled **after** data splitting; this will require modifying the simple_model method in functionals.)

## 4. Visualizations/Data Exploration

We will visualize and explore the dataset using different techniques. We will also explore the impact of these visualizations on data interpretation.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Histogram of age
plt.figure(figsize=(10, 6))
sns.histplot(data['age'], bins=30, kde=True)
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

# Bar plot of survival by sex
plt.figure(figsize=(10, 6))
sns.barplot(x='sex', y='survived', data=data)
plt.title('Survival by Sex')
plt.xlabel('Sex')
plt.ylabel('Survival Rate')
plt.show()

# Pair plot of numerical features
sns.pairplot(data[['age', 'fare', 'family_size', 'survived']], hue='survived')
plt.show()

### Questions for Exploration

1. How do the visualizations help in understanding the dataset?
2. What other visualizations can you create to explore the dataset?
3. How does the choice of visualization technique affect the interpretation of the data?

## Extensions

Explore other data preprocessing techniques such as:
- Encoding categorical variables (e.g., one-hot encoding, label encoding) - i.e., if you modify the simple_model method to only include numerical features, omitting the categorical variables
- Feature selection techniques (i.e., assessing inter-feature correlation and removing )

Compare their impact on the dataset and the performance of downstream machine learning models. 
Can you identify any sources of bias in the dataset?